body, html {
    width: 100%;
    background: url('../img/dark-background-pages.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   

}


.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.titulo{
    text-align: center;

}

.section-form{
    width: 50%;
    
}



.background-form{
    background: var(--bg-comp-color);
    padding: 20px;
    border-radius: 5px;
}


.background-form input{
    border: none;
    background-color: var(--bg-input-color);
    color: white;
}

.btn-color{
    background: var(--bg-red-color);
    border: none;
    color: white;
    
  
}

.btn-color:hover{
    background-color: rgb(250, 75, 75);
    color: white;
}

span{
    color: var(--bg-red-color);
}

#texto-sucesso{
    display: none;
}

#texto-sucesso a{
    color: var(--bg-red-color);
    text-decoration: none;
}