footer{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: var(--bg-comp-color);
    overflow: hidden;
    padding: 24px var(--footer-content-horizontal-padding);
    margin-top: 24px;

}

footer > * {
    margin-right: 20%;
}



.social-media-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.social-media-list > li {
    margin-right: 10px;
}