footer{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: var(--bg-comp-color);
    overflow: hidden;
    padding: 24px var(--footer-content-horizontal-padding);
}


