body{
    height: auto;
    background: url('../img/dark-background-pages.jpg');
    background-size: cover;
}

#titulo{
 display: flex;
 width: 70%;
 justify-content: flex-start;
 margin-top: 60px;
 margin-bottom: 28px;


 

}

#titulo h1 {
    color: white;
    font-size: 28px;
    font-weight: bold;
   
}

#container{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


#login{
    width: 23%;
    height: 68vh;
    border-radius: 7px;
    background-color:  var(--bg-comp-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  
    
}

#login a{
    color: red;
    text-decoration: none;
}

#login input{
    width: 70%;
    padding: 17px;
    margin-bottom: 20px;
    background-color: #353434;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: white;
    
}

.placeHolderLogin::placeholder{
    color: #a5a3a3;
}

#btnEntrar{
    width: 70%;
    padding: 16px;
    border: none;
    color: white;
    border-radius: 5px;
    background: red;
    font-size: 17px;
    font-weight: bold;
    margin: 24px 0 12px;
}

@media (max-width: 700px)
{
    #login{
        width: 88%;
        height: auto;
    }

    p{
        font-size: 14px;
    }
}

@media (max-height: 700px)
{
    #login{
        height: auto;
    }
   
}