
body{
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.card{
    border: none;
}

.pessoas-style {
    background-color: transparent;
    max-width: 20rem;
    align-items: center;
    width: 220px;
    justify-content: center;
}

.p-4{
    padding: 1.5rem!important;
}

.m-3{
    margin: 1rem!important;
}

.justify-content-center {
    justify-content: center!important;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}